<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Business Card</title>
</head>
<body>
<h1>This is my business card</h1>
<div>
    <div style="font-weight: 700">Name</div>
    <div><p th:text="${name}" /></div>
</div>
<div>
    <div style="font-weight: 700">Age</div>
    <div><p th:text="${age}" /></div>
</div>
<div>
    <div style="font-weight: 700">Favourite color</div>
    <div><p th:text="${favouritecolor}" /></div>
</div>


</body>
</html>